<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Tutorial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">API/UI</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Spring Boot
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!--<div fxLayoutAlign="center center" fxFlexFill>-->
<!--  <mat-card fxFlex="30">-->
<!--  <form fxLayout="column" fxLayoutAlign="center center">-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>First name</mat-label>-->
<!--      <input matInput placeholder="First name">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Last name</mat-label>-->
<!--      <input matInput placeholder="Last name">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Email</mat-label>-->
<!--      <input matInput placeholder="Email">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Phone number</mat-label>-->
<!--      <input matInput placeholder="Phone number">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field appearance="fill" fxLayout="center">-->
<!--      <mat-label>Favourite language</mat-label>-->
<!--      <mat-select>-->
<!--        <mat-option value="one">HTML</mat-option>-->
<!--        <mat-option value="two">CSS</mat-option>-->
<!--        <mat-option value="three">JavaScript</mat-option>-->
<!--        <mat-option value="four">PHP</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <button mat-raised-button type = ‘submit>Add Profile</button>-->
<!--  </form>-->
<!--  </mat-card>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>First Name</th>-->
<!--      <th>Last Name</th>-->
<!--      <th>Email</th>-->
<!--      <th>Phone Number</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--&lt;!&ndash;    for of loop to return object array &ndash;&gt;-->
<!--    <tr *ngFor="let i of containFriendArray">-->
<!--      <td>{{i.firstname}}</td>-->
<!--      <td>{{i.lastname}}</td>-->
<!--      <td>{{i.email}}</td>-->
<!--      <td>{{i.phoneNumber}}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
